<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add person</title>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <script src="/lib/jquery-2.1.4.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#sendBtn").click(function(){
                   var data = {
                       user:localStorage['username'],
                       name:$("#name").val(),
                       address:$("#address").val(),
                       age:$("#age").val()
                   };
                   $.ajax({
                       method:'POST',
                       url:'http://localhost:3000/persons',
                       data:data,
                       //dataType:'json'
                   }).done(function(data){
                       window.location = "/persons.html";
                    });
                });
            });
        </script>
    </head>
    <body>
        <p> Add person </p>
        <form >
          <div class="form-group">
            <label for="name">Nimi:</label>
            <input type="text" id="name" placeholder="Anna etu- ja sukunimi" >
          </div>
          <div class="form-group">
            <label for="address">Osoite:</label>
            <input type="text" id="address" placeholder="Anna osoite" >
          </div>
          <div class="form-group">
            <label for="age">Ikä:</label>
            <input type="text" id="age" placeholder="Anna ikäsi">
          </div>
            <input id="sendBtn" type="button" value="Send"/>
          <!--button type="submit" class="btn btn-default">Talleta</button>
        </form>
    </body>
</html>
      