<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div class="login_container">
            <h3>Login or Register to Friends appl</h3>
            <form>
                <input type='text' placeholder='user name' class="form-control"><br/>
                <input type='password' placeholder='password'  class="form-control"><br/>
                <input type='submit' class="btn btn-default" value='Login'>
                <input type='submit' class="btn btn-default" value='Register'>
            </form>
            <p id="status">Not logged in</p>
        </div>
        <script src="../lib/jquery-2.1.4.min.js"></script>
        <script src="../controllers/login_script.js"></script>
    </body>
</html>
