<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Hello world!</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type"text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type"text/css" rel="stylesheet"/>
    </head>
    <body>
        <!--Tämä on kommentti!-->
        <!--p class="mun_oma fancy">Hello earth habitants!</p>
        <p id="joku_tyyli"> Diipadaapa id tyyliå </p>
        <div class="mun_oma"> terve </div>
        <input type="color"/!-->
        <div>
        
            <nav>
            
            
            </nav>
            <section>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </section>
            <footer>
            </footer>
        </div>
        <script src="/lib/jquery-2.1.4.min.js"></script>
        <script src="/controllers/scripts.js"></script>
    </body>
</html>